* {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  height: 100vh;
}
.app__body {
  background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-at-getdrawings-cell.png")
    no-repeat center;
  background-size: contain;
  height: 400px;
  padding: 74px;
  width: 250px;
}

.app__logo {
  height: 100px;
  object-fit: contain;
}
.app__bodyBackground {
  background-color: white;
  height: 400px;
}
